.bi {
    pointer-events: none;
}




.crossed-text {
    text-decoration: line-through;
}





.alert__item {
    width: 500px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);

    transition: transform .5s;
}

.alert__item-show {
    transform: translate(-50%, 50%);

    transition: transform .3s;
}






.list-group-item {
    transition: background .2s ease;
}

.bg-success {
    transition: background .4s ease;
}

.bg-danger {
    transition: background .4s ease;
}



.card-head {
    display: flex;
    justify-content: space-between;
}

.popUp__Change {
    width: 500px;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);

    transition: transform .5s ease;
}

.deleteAnim {
    transform: scale(0.3);
    transition: transform 0.3s;
}